.App {
    /* text-align: center; */
    background-color: rgba(39, 14, 14, 0.067);
    min-height: 100vh;
    overflow-x: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .MainPage{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span{
    padding:10px;
  }

  .spacing{
    padding-bottom: 10px
  }

  .CardDesign{
    width: 500px;
    height: 500px;
  }
  
  .centralize{
    margin-top: 200px;
  }

  .spaceButton{
    margin-top:10px;
  }

  .footerdesign{
    background-color:gray;
  }